<%- include('../../partials/header.ejs') %>
    <title>Lista de artigos</title>

    <link rel="stylesheet" href="/css/admin/articles/index.css">
    </head>

    <body>
        <%- include('../../partials/navbar.ejs') %>
            <div class="container">
                <hr />
                <h2 class="titleListagem">Lista de artigos</h2>
                <hr />
                <a class="btn btn-success" href="/admin/articles/new">Criar um novo artigo</a>

                <hr />

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Título</th>
                            <th>Slug</th>
                            <th>Categoria</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% articles.forEach((article)=> { %>
                            <td>
                                <%= article.id%>
                            </td>
                            <td>
                                <%= article.title%>
                            </td>
                            <td>
                                <%= article.slug%>
                            </td>
                            <td>
                                <%= article.category.title %>
                            </td>
                            <td>
                                <form action="/articles/delete" method="POST" style="display: inline;"
                                    onsubmit="confirmarDelecao(event, this)">
                                    <input type="hidden" value="<%= article.id%>" name="id">
                                    <button class="btn btn-danger">Excluir</button>
                                </form>
                            </td>

                            <% })%>
                    </tbody>
                </table>
            </div>

    </body>

    <%- include('../../partials/footer.ejs') %>


        <script>
            function confirmarDelecao(event, form) {
                event.preventDefault();
                let confirma = confirm('Deseja deletar este item ?');

                if (confirma) {
                    form.submit();
                }
            }
        </script>