<%- include('../../partials/header.ejs') %>
    <title>Lista de Categorias</title>
    <!-- <link rel="stylesheet" href="/css/admin/categories/new.css"> -->

    </head>

    <body>
        <%- include('../../partials/navbar.ejs') %>
            <div class="container">
                <hr />
                <h2>Lista de categorias</h2>
                <hr />
                <a class="btn btn-success" href="/admin/categories/new">Criar uma nova categoria</a>

                <hr />

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Título</th>
                            <th>Slug</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% categories.forEach((category)=> {%>

                            <tr>
                                <th>
                                    <%= category.id%>
                                </th>
                                <th>
                                    <%= category.title%>
                                </th>
                                <th>
                                    <%= category.slug%>
                                </th>
                                <th>
                                    <a href="/admin/categories/edit/<%= category.id%>" class="btn btn-warning">Alterar</a>

                                    <form action="/categories/delete" method="POST" style="display: inline;"
                                        onsubmit="confirmarDelecao(event, this)">
                                        <input type="hidden" value="<%= category.id%>" name="id">
                                        <button class="btn btn-danger">Excluir</button>
                                    </form>
                                </th>
                            </tr>
                            <%})%>
                    </tbody>
                </table>
            </div>

    </body>

    <%- include('../../partials/footer.ejs') %>


        <script>
            function confirmarDelecao(event, form) {
                event.preventDefault();
                let confirma = confirm('Deseja deletar este item ?');

                if (confirma) {
                    form.submit();
                } 
            }
        </script>